*{
    padding: 0px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a{
    text-decoration: none;
}
body{
    background-image: url(https://static.wixstatic.com/media/c837a6_8bdf6d31716e47f28f553df74033ed63~mv2.jpg/v1/fill/w_1349,h_942,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_8bdf6d31716e47f28f553df74033ed63~mv2.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background-color: white;
    position: relative;
    top: 40px;
    left:130px;
    width: 1100px;
    height: 90px;
}
#icon{
    margin-left: 5px;
    font-size: 25px;
    
}
.logo{
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    color: black;
    font-weight: bold;   
}
.logo:hover{
     color: black;

}
.nav-links{
    list-style-type: none;
    width: 500px;
    margin-top: 30px;
}
.nav-links li{
    display: inline-block;
    padding: 10px 20px;
}
.nav-links li a:hover{
    color: rgb(83, 80, 80);
   
}
.nav-links li a{
    transition: 0.5s;
    font-size: 22px;
    color: black;
    text-decoration: none;
}
.active{
    padding: 10px 40px;
    background-color: rgb(58, 60, 58);
    border-radius: 400px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.active:hover{
    background-color:white;
    transition: 0.5s;
    color: black;
    border: 2px ridge black;
}
#icon{
    border-radius: 20px;
    padding-left: 10px;
}
.div1{
   
   padding-top: 120px;
   padding-left: 90px;
}
.head{
    font-size: 60px;
    color: white;
    font-weight: 100;
}
.para{
    font-size: 22px;
    color: white;
}
.button{
    padding: 15px 60px;
    border-radius:40px;
    background-color: white; 
    color: black;
    font-weight: bold; 
    text-decoration: none;
}
.button:hover
{
    border:1px white solid;
    background-color:rgba(255, 255, 255, 0) ;
    color: white;
}
.form
{
    background-color: #FFF9AF;
    border:5px solid #FFF9AF;
    border-radius: 10px;
    width:750px;
    height: 570px;
    margin-left: 450px;
    margin-top: 100px;
}
.form h1{
    text-align: center;
    font-weight: lighter;
    margin-top: 40px;
}
.form h3{
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}
form
{
    position: relative;
    left: 40px;
    right: 40px;
    margin-top: 30px; 
   padding-left: 10px; 
}

.press{
    border-radius: 80px;
    width: 200px;  
    padding: 15px 50px;
    background:rgb(43, 43, 43);
    color: azure;
    position: relative;
    top: 35px;
    left: 200px;
    text-decoration: none;
}
.press:hover{
    transition: 0.5s;
    background-color: #FFF9AF;
    color: black;
    border: 2px ridge black;
}
form input
{
    height: 40px;
    width: 200px;
    border-radius:60px solid rgb(172, 170, 170);
    /* border-color: rgb(116, 116, 116); */
    
}
form select{
    padding: 10px;
    width: 300px;
}
strong{
    font-size:40px;
    position: relative;
    top: 230px;
    left: 50px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 1300px;
    position: relative;
    top: 230px;
    left: 15px;
   
}
#container div{
    height: 325px;
    width: 300px;
    background-color:#FFF9AF;
    margin: 20px;
    
}
.star1{
    margin-left:30px;
    position: relative;
    top: 50px;
 }
.box1 h2{
    padding: 10px 20px;
    position: relative;
    top: 60px;
}
.box1 .onebox{
    padding: 10px 20px;
    position: relative;
    top: 50px;
}
.box2 h2{
    padding: 10px 20px;
    position: relative;
    top: 60px;
}
.box2 .twobox{
    padding: 10px 20px;
    position: relative;
    top: 50px;
}
.box3 h2{
    padding: 10px 20px;
    position: relative;
    top: 60px;
}
.box3 .threebox{
    padding: 10px 20px;
    position: relative;
    top: 50px;
}
.box4 h2{
    padding: 10px 20px;
    position: relative;
    top: 60px;
}
.box4 .fourbox{
    padding: 10px 20px;
    position: relative;
    top: 50px;
}
.container-fluied
{
  
    display:flex;
    text-align: center;
    width:99%;
    background-color: #4C5B5C;
    margin-top: 300px;
    height: 800px;
}
.service .h1
{
    color: white;
    font-size: 50px;
    margin-top: 50px;
}
.service .p
{
    color: white;
    font-size: 30px;
}
.service .row{
    margin-left: 80px;
    margin-top: 45px;
}
/* .service.col{ */
    /* width: 400px; */
    /* margin-right: 600px; */
/* } */
.service .select{
    border-radius: 80px;
    width: 200px;  
    padding: 15px 50px;
    background:white;
    color:#4C5B5C;
    position: relative;
    top: 50px;
    left: 60px;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
   
   
}
.select:hover{
    transition: 0.5s;
    background-color:#4C5B5C;
    color: white;
    border: 2px ridge white;
}
#feature{
    display:flex;
    justify-content:center;
    height:200px;
    width: 1200px;
    /* min-height: 400px; */
    background-color:#FFF9AF;
    position:absolute;
    left:80px;
    top:2850px;
}
 
 .pics img{
    width: 190px;
    margin-top:90px;
    position: relative;
    right: 140px;
}
.header{
    height: 50px;
    position: relative; 
    left: 450px;
    top: 20px;
}
.topics-head{
    margin-top: 450px;
    text-align: center;
    font-size: 30px;

}
.col-head{
    margin-left: 550px;
    margin-top: 450px;
    font-size: 25px;
}

#col1 img{
    margin-left: 70px;
    border-radius: 15px;
   
}
#col2 img{
    margin-right: 60px;
    border-radius: 15px;
}
.before{
    margin-left: 400px;
    margin-top: 20px;
}
.after{
    margin-left: 900px;
    position: relative;
    bottom: 30px;
}
.overlay
{
    position: absolute;
    top: 3890px;
    height: 475px;
    width:100%;
    background-color:#4c5b5c95;
}
.overlay-head{
    text-align: center;
    color: white;
    font-size: 45px;
    position: relative;
    top: 60px;
}
.circle-para{
    margin-left:100px;
    font-size: 21px;
    color: white;
    margin-top: 100px;
}
 .violet{
    width: 1349px;
    height: 700px;
    background-color: #4C5B5C;
   
}
.violet-head{
    margin-left: 150px;
    margin-top: 180px;
    color: white;
    width:420px;
    display: inline-block;
}
.violet-click{
border-radius: 50px;
width: 200px;  
padding: 15px 50px;
background:white;
color:#4C5B5C;
font-size: 20px;
font-weight: 900;
text-decoration: none;
margin-left: 20px;
}
.violet-click:hover{
    transition: 0.5s;
    background-color:#4C5B5C;
    color: white;
    border: 2px ridge white;
}
#cost{
    width: 350px;
    height:350px;
    float: right;
    background-color:#FFF9AF;
    margin-right:150px;
    border-radius: 25px;
    margin-top: 100px;
   
}
#cost .best
{
    color: white;
    background-color: black;
    display: inline;
    margin-left:130px;
    bottom:10px;
    position: relative;
}
.cost-head{
    padding-top: 25px;
    text-align: center;
}
.rs{
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
    font-family: sans-serif;
}
.rs span{
    font-size:25px;
    bottom:30px;
    position:relative;
}
.rs2{
    text-align: center;
   
    font-size: 13px; 
}
.rs-button{
    border-radius: 40px;
    width: 280px;
    height: 40px;
    background:black;
    color:white;
    font-size: 20px;
    font-weight: 900;
    margin-left:40px;
}
.rs-button:hover{
    transition: 0.5s;
    background-color:#FFF9AF;
    color:black;
    border: 1px ridge black;
}
.box{
    width: 100%;
    height: 600px;
    margin-top:250px;
}
.box img{
    width: 400px;
    height: 450px;
    margin-top: 70px;
    margin-left: 90px;
}
.why-cleanic{
   
    margin-left: 600px;
   position: relative;
   bottom: 450px;
   width: 630px;
}
.get-to{
    border-radius: 40px;
    width: 200px;
    height: 50px;
    background-color: #344243;
    color:white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 35px;
    border-color:#344243;
}   
.get-to:hover{
    transition: 0.5s;
    background-color:white;
    color:black;
    border: 1px ridge black;

}

#last{
    height:260px;
    width: 1349px;;
    /* border: 2px ridge rebeccapurple; */
    margin: auto;
    background-color: #FFF9AF;
    font-size: 15px;
}
.col .clean
{
    margin-top:60px;
}
.footer-button{
    border-radius: 40px;
    width: 200px;
    height: 45px;
    background-color: #344243;
    color:white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    margin-left: 35px;
    margin-top: 50px;
}
.footer-button:hover{
    transition: 0.5s;
    background-color:#FFF9AF;
    color:black;
    border: 1px ridge black;
}
ul{
    width: 180px;
    padding-bottom: 15px;
}
li
{
    list-style-position: inside;
    color: black;
}
.frst ul
{
    padding: 0;
    margin-top: 60px;
    margin-left:100px;
    font-size: 16px;
    text-align: left;
    list-style-type: none;
}



